<ul>
  <% 10.times do |article_idx| %>
  <li>
    <a href="<%= @articles[article_idx]["url"] %>">
      <%= @articles[article_idx]["title"] %>
    </a>
    <br />
    <p>
      <span class="words">
        <%= @articles[article_idx]["words"] %>
      </span> by
      <span class="author">
        <%= @articles[article_idx]["profile"]["last_name"] %>
      </span>
    </p>
  </li>
<% end %>
<% (10...30).each do |article_idx| %>
  <li class="hidden">
    <a href="<%= @articles[article_idx]["url"] %>">
      <%= @articles[article_idx]["title"] %>
    </a>
    <br />
    <p>
      <span class="words">
        <%= @articles[article_idx]["words"] %>
      </span> by
      <span class="author">
        <%= @articles[article_idx]["profile"]["last_name"] %>
      </span>
    </p>
  </li>
  <% end %>
</ul>
